<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" verbose="true">
  <testsuites>
    <testsuite name="small">
      <directory suffix="Test.php">tests/Framework</directory>
      <directory suffix="Test.php">tests/Extensions</directory>
      <directory suffix="Test.php">tests/Runner</directory>
      <directory suffix="Test.php">tests/Util</directory>
    </testsuite>

    <testsuite name="large">
      <directory suffix=".phpt">tests/TextUI</directory>
      <directory suffix=".phpt">tests/Regression</directory>
      <directory suffix="Test.php">Application</directory>
    </testsuite>
  </testsuites>

  <logging>
    <!--<log type="coverage-html" target="build/coverage" title="PHPUnit" highlight="true"/>-->
    <!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
    <!--<log type="coverage-xml" target="build/logs/coverage"/>-->
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
      <blacklist>
          <directory suffix=".php">/var/www/tia/Application/vendor/sebastian/global-state/src</directory>
      </blacklist>
  </filter>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>
</phpunit>
